@page
@model rentproperty.Pages.Enquiry.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>inquiry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inquiry.user_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inquiry.user_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inquiry.property_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inquiry.property_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inquiry.user_massege)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inquiry.user_massege)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inquiry.dateTime_inquiry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inquiry.dateTime_inquiry)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.inquiry.inquiry_id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
